{% extends 'base.html' %}

{% block title %}Results - Text{% endblock %}

{% block content %}



<div class="w-50 bg-white rounded shadow p-3">
    <h1 class="text-primary">Text Results</h1>

    <div class="p-3 bg-dark d-flex flex-column gap-3 rounded">

        <div class="form-control w-100">
            <label class="pb-2">Original Text</label>
            <p id="original_text"></p>
        </div>

        {% if encrypted_text %}

        <div class="form-control w-100">
            <label class="pb-2">Encrypted Text</label>
            <p id="encrypted_text"></p>
        </div>

        {% endif %}

        <div class="form-control w-100">
            <label class="pb-2">Segmented Text</label>
            <p id="textSource"></p>

            <div class="form-floating w-100 mt-2">
                <select id="segmentSelector" class="form-control">
                    {% for segment in segments %}
                    <option value="{{ segment }}">Segment {{ forloop.counter }}</option>
                    {% endfor %}
                </select>
                <label for="segmentSelector" class="text-dark">Select Segment</label>
            </div>
        </div>


        <div class="form-control w-100">
            <label class="pb-2">Reconstructed Text</label>
            <p id="reconstructed_text">{{segments.0}}</p>
        </div>

        {% if encrypted_text %}

        <div class="form-control w-100">
            <label class="pb-2">Decrypted Text</label>
            <p id="decrypted_text"></p>
        </div>

        {% endif %}

        <a href="/" class="btn btn-primary w-100">Send Again</a>
    </div>
</div>


<script>
    async function fetchAndDisplayFiles() {
        try {
            const response = await fetch("{{original_text}}");
            if (!response.ok) throw new Error("Original file not found");
            const content = await response.text();
            document.getElementById('original_text').textContent = content;

        } catch (error) {
            console.error(`Error loading file original_text:`, error);
            document.getElementById('original_text').textContent = "Error loading file";
        }

        if ("{{encrypted_text}}"){
            try {
                const response = await fetch("{{encrypted_text}}");
                if (!response.ok) throw new Error("Encrypted file not found");
                const content = await response.text();
                document.getElementById('encrypted_text').textContent = content;

            } catch (error) {
                console.error(`Error loading file encrypted_text:`, error);
                document.getElementById('encrypted_text').textContent = "Error loading file";
            }
        }

        try {
            console.log("{{segments.0}}")
            console.log("{{segments}}")
            const response = await fetch("{{segments.0|escapejs}}");
            if (!response.ok) throw new Error("Segment 0 file not found");
            const content = await response.text();
            document.getElementById('textSource').textContent = content;

        } catch (error) {
            console.error(`Error loading file segments:`, error);
            document.getElementById('textSource').textContent = "Error loading file";
        }

        if ("{{decrypted_text}}"){
            try {
                const response = await fetch("{{decrypted_text}}");
                if (!response.ok) throw new Error("Decrypted file not found");
                const content = await response.text();
                document.getElementById('decrypted_text').textContent = content;

            } catch (error) {
                console.error(`Error loading file decrypted_text:`, error);
                document.getElementById('decrypted_text').textContent = "Error loading file";
            }
        }
    
        try {
            const response = await fetch("{{reconstructed_text}}");
            if (!response.ok) throw new Error("Reconstructed file not found");
            const content = await response.text();
            document.getElementById('reconstructed_text').textContent = content;

        } catch (error) {
            console.error(`Error loading file reconstructed_text:`, error);
            document.getElementById('reconstructed_text').textContent = "Error loading file";
        }
    
    }
    fetchAndDisplayFiles();
</script>

<script>
    document.getElementById('segmentSelector').addEventListener('change', async function () {
        try {
            const response = await fetch(this.value);
            if (!response.ok) throw new Error("File not found");
            const content = await response.text();
            document.getElementById('textSource').textContent = content;
        } catch (error) {
            console.error(`Error loading file textSource:`, error);
            document.getElementById('textSource').textContent = "Error loading file";
        }
    });
</script>

{% endblock %}